{% extends "base-template.html" %}
{% block title %}My Rewards{% endblock %}
{% block body %}
    <!-- ============================================================== -->
    <!-- pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">My Rewards</h2>
                <p class="pageheader-text">idea.ly Rewards</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Page</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Rewards</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div align="left">
            <iframe width="1280px" height="640px" src="https://www.youtube.com/embed/J_J_ntZ_3RI?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
